body {
    padding:0;
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
    height: 100%;
}
html{
    height: 100%;

}



    #splitter {
	height:  600px;
	width:100%;
    min-height: 100%;
        position: relative;
}
    
    #splitter .left-splitter{
           width: 20%;
    position: relative;
    height: 100%;
    box-sizing:padding-box;
    float: left;
    }
    
    #splitter .right-splitter{
        width:79%;
        position: relative;
    float: right;
    box-sizing:padding-box;
    }
#splitter > div {
	overflow: auto;
}
#splitter .vsplitbar {
	width: 10px;
    cursor:col-resize;
    margin-left:5px;
}
#splitter > div{
    overflow:hidden;
    
}

.left-splitter{ padding-right:5px;}
.right-splitter{ padding-left:5px;}

.CodeMirror{
    font-size:12px;
}

.github-comments{
    width:0px;

}

#home {
    margin-top: 15px;
    float:left;
    width:80%;
    padding-right:15px;
    box-sizing:border-box;
}


#sidebar{
    float:right;
    width:20%;
}
    #sidebar.fixed {
        left: 50%;
        margin-left: 298px;
        position:fixed;
        top:0;
    }

#sidebar section{
    border-bottom:1px solid #efefef;
}
#sidebar section a{
    position:relative;
    display:inline-block;
    padding-left:25px;
    margin-bottom:5px;
}
#sidebar section a img {
    width:20px;
    border-radius:3px;    
    position:absolute;
    left:0;
    bottom:-2px;
}
    #sidebar section h3 {
        font-size: 12px;
        line-height: 16px;
        color: #767676;
    }

.addcomment, 
.viewcomment{
    width:20px;
    height:20px;
    border-radius:2px;
    margin-top:2px;
    cursor:pointer;
    position:absolute;
    display:none;
    border:1px solid silver;
    background-color:silver;
    color:black;
    text-align:center;
    left:-10px;
    top:-4px;
    z-index:10;
    opacity:0.8;
}
 
.viewcomment{
    display:block;
}
.addcomment::after{
    content:'+';
}

.CodeMirror-code > div:hover .addcomment,
.CodeMirror-code > div:hover .viewcomment{
    display:block;    
    opacity:0.7;
}

div.commentList {
    background-color:white;
    margin-top: 5px;
    padding:10px;
        border-bottom:1px solid silver;
        border-top:1px solid silver;
}

    .comment {
        border:1px solid silver;
        border-radius:3px;
        margin-bottom:5px;
        margin-right:15px;
        margin-left:30px;
        padding:10px;
	border: 1px solid #bfccd1;
    }
    .comment >  div.header 
    {
	    background: #f2f8fa;
        border-bottom:1px solid #bfccd1;
        margin:-10px -10px  10px -10px;
        height:30px;
        padding-top:10px;
        padding-left:10px
    }

     #file_diff {
        border-radius:3px;
	border: 1px solid #bfccd1;
        margin-right: 5px;
        margin-top: 5px;
    }
    #file_diff >  div.header 
    {
	    background: #f2f8fa;
        border-bottom:1px solid #bfccd1;
        margin:0px 0px  0px 0px;
            height: 23px;
    padding-top: 7px;
        padding-left:10px
    }
        

    #file_diff >  div.header label{
        float:right;
        margin-right:5px;
        position:relative;
        padding-left:20px;
        font-weight:normal;
    }
    #file_diff >  div.header label input{
        position:absolute;
        left:0;
        top:1px;
    }
    .comment div.header img{
        height:20px;
        margin:5px;
        margin-top:-5px;
        border-radius:2px;
        display:block;
        float:left;
    }
    .main-comment .comment {
        margin-left:60px
    }

     .main-comment .comment  {
	position: relative;
}
.main-comment {
    position:relative;
    margin-bottom:15px;
}
     .main-comment .user{
         position:absolute;
         margin-left:10px
     }
        .main-comment .user img {
                border-radius: 3px;
        }
 .main-comment .comment:after,  .main-comment .comment:before {
	right: 100%;
	top: 15px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

 .main-comment .comment:after {
	border-color: rgba(242, 248, 250, 0);
	border-right-color: #f2f8fa;
	border-width: 6px;
	margin-top: -6px;
}
 .main-comment .comment:before {
	border-color: rgba(191, 204, 209, 0);
	border-right-color: #bfccd1;
	border-width: 7px;
	margin-top: -7px;
}
 .file-comment .user img{
     height:20px;
     border-radius:3px;
 }
.file-comment {
    padding-left:70px;
    margin-bottom:15px;
}

    .CodeMirror-wrap pre
    {
        margin-left:10px;
    }

    .not-in-patch{
        background:#efefef;
    }
    .not-in-patch .CodeMirror-line {
        opacity:0.9;
    }
    .CodeMirror-linenumber
    {
        color:#555;
        padding-right: 13px;
    }
    .not-in-patch .CodeMirror-linenumber{
        
        color:#aaa

    }
    

    
    .in-patch::after{
        content:' ';
        position:absolute;
        top:0;
        left:3px;
        right:4px;
        bottom:0;
        background-color:cornflowerblue;
        opacity:0.5;
    }
    
     a{    color: #4078c0;
    text-decoration: none;
     }  a:hover{
         text-decoration:underline;
     }

    .treeview .not-visisted{
        font-weight:bold;
    }
.treeview .list-group-item {
    white-space:nowrap;
}

#fileName:before{
    content:' ';
    display:inline-block;
    width:15px;
    height:15px;
    border-radius:10px;
    margin-right:5px;

}

#fileName.status-modified:before{

    background-color:#795600;
}

#file-list li.status-modified .node,
#file-list li.status-mixed .node{
    color:#795600;
}
/*.treeview .node-selected.status-modified{
    background-color:#795600;
    color:white;
}
.treeview .node-selected.status-modified:hover{
    background-color:#795600;
    color:white;
}*/

#fileName.status-added:before{

    background-color:#399539;
}
#file-list li.status-added .node{
    color:#399539;
}
/*.treeview .node-selected.status-added{
    background-color:#399539;
    color:white;
}
.treeview .node-selected.status-added:hover{
    background-color:#399539;
    color:white;
}*/

#fileName.status-removed:before{

    background-color:#B11919;
}
#file-list li.status-removed .node{
    color:#b11919;
}

/*.treeview .node-selected.status-removed{
    background-color:#B11919;
    color:white;
}
.treeview .node-selected.status-removed:hover{
    background-color:#B11919;
    color:white;
}*/

/*.treeview .node-selected{
    background-color:#428bca;
    color:white;
}

.treeview .node-tree:hover{
    background-color:#F5F5F5;
}
.treeview .node-selected:hover{
    background-color:#428bca;
    color:white;
}
.treeview .node-tree a{
    color:#333 !important;
}

.treeview .node-selected a{
    color: white !important;
}

  #file-list > .header{
           padding: 10px 10px;
    font-size: 1.2em;
    background-color: #f2f8fa;
        border-bottom: 1px solid #bfccd1;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    height: 20px;
    cursor:pointer;
    }
  #file-list > .header:hover{
      background-color: #D2E7EE;

  }

 #file-list > .header span.icon{
    margin-right:9px;
    margin-left:-3px;
}
 #file-list .treeview 
 {
     overflow:hidden;
     overflow-y:auto;
     position:absolute;
     top:41px;
     bottom:0;
     left:0;
     right:0;
 }

.treeview .list-group{
    list-style-type:none;
    padding:0;
    margin:0; 
}

.treeview .list-group-item{
    padding:5px 10px;
}*/

  
.title-bar {
    overflow:auto;
    width:980px;
    margin:0 auto;
}
.body-content .title-bar{ margin-bottom:20px;     padding: 0 15px;}

.highlighted .CodeMirror-linenumber{
        background-color: gold;
    font-weight:bold;
}

.CodeMirror-code> div{
    padding-top:0.25em;padding-bottom:0.25em;
}


.file-diff {
    padding:0;
}

.file-diff div.header{
    margin:0;
}
.file-diff table{
    font-size:12px;

}
.file-diff table {
    border-spacing: 0px;
    border-collapse: separate;
}
.file-diff table tr td.src,
.file-diff table tr td.target{
    text-align:center;
    padding:2px 10px;
    min-width:50px;
    border-right:1px solid #eef;
    color:silver;
}

.file-diff table tr td.txt{
    padding-left:10px;
    font-family:Consolas;
}
.file-diff table tr.removed td.src,
.file-diff table tr.removed  td.target{
    border-color:#f1c0c0
}
    
.CodeMirror-merge-r-deleted, .CodeMirror-merge-l-deleted, .edittype-removed .CodeMirror-code > div,
.file-diff table tr.removed td.src,
.file-diff table tr.removed td.target {
    background-color: #ffdddd;
}

.file-diff table tr.removed td.txt{
 background-color:#ffecec;
}

.CodeMirror-merge-l-inserted, .CodeMirror-merge-r-inserted, .edittype-added .CodeMirror-code > div,
.file-diff table tr.added td.src,
.file-diff table tr.added  td.target{
    background-color:#dbffdb;
}

.file-diff table tr.added td.src,
.file-diff table tr.added  td.target{
    border-color:#c1e9c1
}
.file-diff table tr.added td.txt{
 background-color:#eaffea;
}


.file-comment-list {
    margin-left:60px;
    margin-bottom:20px;
}
.file-comment-list.hidden{
    display:none;
}
.treeview span.icon{
    display:inline-block;
    top:2px;    font-size: 16px;
}

.navbar{
    padding-top: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}

.navbar-brand 
{
    position:relative;
padding:10px 0 0  35px;
    margin-bottom:10px;
    display: inline-block;
}
.navbar-brand .icon {
    position:absolute;
    font-size: 28px;
    color: black;
    left:0;
    top: 0;
}

.navbar-default .navbar-brand:hover .icon, .navbar-default .navbar-brand:focus .icon{
    color:#337ab7;
}

.navbar-default{
    margin-bottom:0;
}

.navbar .user{
    float:right;
    position:relative;
    margin-top:4px;
    margin-right: 9px;
}
.navbar .user .avatar{
    padding-right:15px;
    display:block;
}
.navbar .user .avatar .icon{
    position:absolute;
    top: 4px;
    right: 5px;
}
.navbar .user img
{
    height:20px;
    border-radius:3px;
    margin-right:5px;
}

.navbar .user ul {
    display:none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
    width: 160px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);
    list-style-type:none;
    margin:0;
    padding:0;
    padding-bottom:5px;
}
.navbar .user ul li a,
.navbar .user ul li span{
    display:block;
    margin:0;
    padding:5px 15px;
}
.header-content{
    background-color:#fafafa ;
        position: relative;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.title-bar h1 .icon{
    color:#bbb;
    font-size:16px;
    margin-right:5px
}
.title-bar h1 {
    font-size: 18px;
    line-height: 26px;
    color: #666;
    font-weight:normal;
    margin:0;
    margin-top:15px;
}
.title-bar h1  a.repo{
    font-weight:600;

}

.title-bar h2 {
    font-weight:normal;
    font-size: 32px;
    margin:0;

}
.title-bar h2 span{
    font-weight: 300;
    color: #aaa;
    letter-spacing: -1px;
}

.badge{
    margin:-5px 0 0 10px;
}

.badge {
    display: inline-block;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    color: #666;
    background-color: #eee;
    border-radius: 20px;
}

.node-selected
.badge{
    color: #333;
    background-color:#f2f8fa;

}
.container {
    width:995px;
    margin:0 auto;
    
    padding: 0 15px;
}
.container-fluid{
    padding:0 5px;
}
pre code{
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
    display:block;
}

.markdown h1{
        padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid #eee;
}
.markdown {
    overflow: auto;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.tab-bar{
    border-bottom:1px solid  #e5e5e5;
    width:980px;
    margin:0 auto;
}

.tab-bar nav.tabs a {
        display: inline-block;
    font-size: 14px;
    line-height: 20px;
    color: #666;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 0;

        position: relative;
    padding: 9px 14px;
    font-size: 13px;
    color: #767676;
    margin-bottom:-1px;

}
.tab-bar nav.tabs a.right{
    float:right;
}

    .tab-bar nav.tabs a.selected {
        color: #333;
        border-color: #e5e5e5;
        background-color:white
    }
    
.tab-bar nav.tabs a .icon {    
    font-size: 15px;
    margin-right:5px;
}

.tab-bar nav.tabs {
    width:980px;
    margin:0 auto;
}


.title-bar aside img{
    width:20px ;
    border-radius:3px;
}
.title-bar{
    overflow:auto;
}

.CodeMirror-merge-2pane .CodeMirror-merge-gap{
    width:3%;
}.CodeMirror-merge-2pane .CodeMirror-merge-pane{
    width:48.5%;
}
 .CodeMirror-selected {
    opacity: 0.6;
}

#file-list ul {
    list-style-type:none;
    padding:0;
    margin:0;
}


#file-list {
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 5px;
    top: 5px;
    border: 1px solid #bfccd1;
    border-radius: 3px;
}

#file-list ul li .node{
    padding:5px;
    display:block;
    cursor:pointer;
}
#file-list ul li a.node
{
    font-weight:600;
}
#file-list ul li a.visited{
    font-weight:normal;
}  
#file-list ul li > a.selected{  
    background-color:#f8eec7;
}  

#file-list ul li a:hover {
    text-decoration:none;
}

#file-list ul li a:hover >span {
    text-decoration:underline;
}

#file-list ul li .node:hover >span {
    text-decoration:underline;
}
#file-list ul li .node:hover > span.badge {
    text-decoration:none;
}

#file-list ul li .icon {
    margin-right:5px;
}
#file-list ul li  {
    margin:0;
    display:block;
    white-space:nowrap;
}

#file-list ul li .node{
    padding-left:10px;
    display:block;
}

#home .event{
    border-top:1px solid #efefef;
    
    padding:10px;
    margin:5px 0 5px 60px;
}
#home .main-comment{
    margin:15px 0 5px 0px;

}
#home .event .icon{
    margin-right:10px;
}

#home .commit-list{
    margin-left:100px;
}
#home .commit-list .commit{
    padding:5px;
    padding-left:55px;
    position:relative;
    
}
#home .commit-list .commit img{
    width:16px;
    border-radius:3px;
    position:absolute;
    left:30px
}