body {
    
}



    #splitter {
	height:  600px;
	width:100%;
	
    
    top:0;left:0;right:0;bottom:0;
}
#splitter > div {
	overflow: auto;
}
#splitter .vsplitbar {
	width: 5px;
	background: #aaa;
}