body {
    padding:0;
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
}



    #splitter {
	height:  600px;
	width:100%;
	
    
    top:0;left:0;right:0;bottom:0;
}
    #splitter #home{
        overflow-y:auto;
    }
#splitter > div {
	overflow: auto;
}
#splitter .vsplitbar {
	width: 10px;
    cursor:col-resize;
    margin-left:5px;
}
#splitter > div{
    overflow:hidden;
    
}

.left-splitter{ padding-right:5px;}
.right-splitter{ padding-left:5px;}

.CodeMirror{
    font-size:12px;
}

.github-comments{
    width:0px;

}

#tree {
overflow-y:auto;
overflow-x:hidden;
position:absolute;
top:0;left:0;
right:0;
bottom:0;
margin-top: 5px;
}


#home {
    display: none;
    margin-top: 5px;
}

.addcomment, 
.viewcomment{
    width:20px;
    height:20px;
    border-radius:2px;
    margin-top:2px;
    cursor:pointer;
    position:absolute;
    display:none;
    border:1px solid silver;
    background-color:silver;
    color:black;
    text-align:center;
    left:-10px;
    top:-4px;
    z-index:10;
    opacity:0.8;
}
 
.viewcomment{
    display:block;
}
.addcomment::after{
    content:'+';
}

.CodeMirror-code > div:hover .addcomment,
.CodeMirror-code > div:hover .viewcomment{
    display:block;    
    opacity:0.7;
}

div.commentList {
    background-color:white;
    margin-top: 5px;
    padding:10px;
        border-bottom:1px solid silver;
        border-top:1px solid silver;
}

    .comment {
        border:1px solid silver;
        border-radius:3px;
        margin-bottom:5px;
        margin-right:15px;
        margin-left:30px;
        padding:10px;
	border: 1px solid #bfccd1;
    }
    .comment >  div.header 
    {
	    background: #f2f8fa;
        border-bottom:1px solid #bfccd1;
        margin:-10px -10px  10px -10px;
        height:30px;
        padding-top:10px;
        padding-left:10px
    }

     #file_diff {
        border-radius:3px;
	border: 1px solid #bfccd1;
        margin-right: 5px;
        margin-top: 5px;
    }
    #file_diff >  div.header 
    {
	    background: #f2f8fa;
        border-bottom:1px solid #bfccd1;
        margin:0px 0px  0px 0px;
            height: 23px;
    padding-top: 7px;
        padding-left:10px
    }
        #file_diff > div.header #fileName {
        }
    #file_diff >  div.header label{
        float:right;
        margin-right:5px;
        position:relative;
        padding-left:20px;
        font-weight:normal;
    }
    #file_diff >  div.header label input{
        position:absolute;
        left:0;
        top:1px;
    }
    .comment div.header img{
        height:20px;
        margin:5px;
        margin-top:-5px;
        border-radius:2px;
        display:block;
        float:left;
    }
    .main-comment .comment {
        margin-left:60px
    }

     .main-comment .comment  {
	position: relative;
}
.main-comment {
    position:relative;
    margin-bottom:15px;
}
     .main-comment .user{
         position:absolute;
         margin-left:10px
     }
        .main-comment .user img {
                border-radius: 3px;
        }
 .main-comment .comment:after,  .main-comment .comment:before {
	right: 100%;
	top: 15px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

 .main-comment .comment:after {
	border-color: rgba(242, 248, 250, 0);
	border-right-color: #f2f8fa;
	border-width: 6px;
	margin-top: -6px;
}
 .main-comment .comment:before {
	border-color: rgba(191, 204, 209, 0);
	border-right-color: #bfccd1;
	border-width: 7px;
	margin-top: -7px;
}
 .file-comment .user img{
     height:20px;
     border-radius:3px;
 }
.file-comment {
    padding-left:70px;
    margin-bottom:15px;
}

    .CodeMirror-wrap pre
    {
        margin-left:10px;
    }

    .not-in-patch{
        background:#efefef;
    }
    .not-in-patch .CodeMirror-line {
        opacity:0.7;
    }
    .CodeMirror-linenumber
    {
        color:#555;
        padding-right: 13px;
    }
    .not-in-patch .CodeMirror-linenumber{
        
        color:#aaa

    }
    .not-in-patch .CodeMirror-gutter-wrapper{

    }

    .in-patch{

    }
    
    .in-patch::after{
        content:' ';
        position:absolute;
        top:0;
        left:3px;
        right:4px;
        bottom:0;
        background-color:cornflowerblue;
        opacity:0.5;
    }
    
     a{
         text-decoration:none;
     }  a:hover{
         text-decoration:underline;
     }

    .treeview .not-visisted{
        font-weight:bold;
    }
.treeview .list-group-item {
    white-space:nowrap;
}

.treeview .list-group{
    list-style-type:none;
    padding:0;
    margin:0;
        border: 1px solid #bfccd1;
    margin-right:5px;
    padding-top:45px;
}
.treeview .list-group-item{
    padding:5px 10px;
}

    .treeview .list-group-item.pullrequest-home {
           padding: 10px 10px;
    font-size: 1.2em;
    background-color: #f2f8fa;
        border: 1px solid #bfccd1;
    position: absolute;
    top: 0;
    left: 0;
    right: 5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    }

.treeview 
.pullrequest-home span.icon{
    margin-right:9px;
    margin-left:-3px;
}

.title-bar {
    overflow:auto;
}
.title-bar h1,.title-bar h2{
    float:left;
}

.highlighted .CodeMirror-linenumber{
        background-color: gold;
    font-weight:bold;
}

.file-diff {
    padding:0;
}

.file-diff div.header{
    margin:0;
}
.file-diff table{
    font-size:12px;

}
.file-diff table {
    border-spacing: 0px;
    border-collapse: separate;
}
.file-diff table tr td.src,
.file-diff table tr td.target{
    text-align:center;
    padding:2px 10px;
    min-width:50px;
    border-right:1px solid #eef;
    color:silver;
}

.file-diff table tr td.txt{
    padding-left:10px;
    font-family:Consolas;
}
.file-diff table tr.removed td.src,
.file-diff table tr.removed  td.target{
    border-color:#f1c0c0
}
    
.CodeMirror-merge-r-deleted, .CodeMirror-merge-l-deleted, .edittype-removed .CodeMirror-code > div,
.file-diff table tr.removed td.src,
.file-diff table tr.removed td.target {
    background-color: #ffdddd;
}

.file-diff table tr.removed td.txt{
 background-color:#ffecec;
}

.CodeMirror-merge-l-inserted, .CodeMirror-merge-r-inserted, .edittype-added .CodeMirror-code > div,
.file-diff table tr.added td.src,
.file-diff table tr.added  td.target{
    background-color:#dbffdb;
}

.file-diff table tr.added td.src,
.file-diff table tr.added  td.target{
    border-color:#c1e9c1
}
.file-diff table tr.added td.txt{
 background-color:#eaffea;
}


.file-comment-list {
    margin-left:60px;
}
.treeview span.icon{
    display:inline-block;
    top:2px;
}

.navbar{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}

.navbar-brand 
{
    position:relative;
padding:10px 0 0  35px;
    margin-top:5px;
    margin-bottom:10px;
    margin-left:15px;
    display: inline-block;
}
.navbar-brand .icon {
    position:absolute;
    font-size: 28px;
    color: black;
    left:0;
    top: 0;
}

.navbar-default .navbar-brand:hover .icon, .navbar-default .navbar-brand:focus .icon{
    color:#337ab7;
}

.navbar-default{
    margin-bottom:0;
}
.header-content{
    background-color:#fafafa ;
        position: relative;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.title-bar h1 .icon{
    color:#bbb;
    font-size:16px;
    margin-right:5px
}
.title-bar h1 {
    font-size: 18px;
    line-height: 26px;
    color: #666;
    font-weight:normal;
    margin:0;
    margin-top:15px;
}
.title-bar h1  a.repo{
    font-weight:600;

}

.title-bar h2 {
    font-weight:normal;
    font-size: 32px;
    margin:0;
    margin-left:20px;
}
.title-bar h2 span{
    font-weight: 300;
    color: #aaa;
    letter-spacing: -1px;
}

.badge{
    margin:-5px 0 0 10px;
}

.badge {
       display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
    color: #f2f8fa;
    background-color:#333;
}

.node-selected
.badge{
    color: #333;
    background-color:#f2f8fa;

}
.container {
    width:980px;
    margin:0 auto;
    
    padding: 0 15px;
}
.container-fluid{
    padding:0 5px;
}