

    <div class="comment">
        <div class="header">
            <a href="/{username}">
                <img src="{avatarUrl}&s=40" class="avatar" />
                </a>
                <a href="/{username}">{username}</a> commented <span class="timeago">{created}</span>
</div>
        {body}
    </div>
