

    <div class="comment  status-{change}">
        <div class="header">
            <a href="https://github.com/{username}" target="_blank">
                <img src="{avatarUrl}&s=40" class="avatar" />
                </a>
                <a href="https://github.com/{username}" target="_blank">{username}</a> commented <time class="timeago" datetime="{created}">{created}</time>
</div>
        <div class="markdown">
            {body}
            </div>
        </div>
