
<div class="main-comment event">
    <a href="#" class="user">
        <img src="{avatarUrl}&s=40" class="avatar" />
    </a>
    <div class="comment">
        <div class="header">
            <a href="/{username}">{username}</a> commented <time class="timeago" datetime="{created}">{created}</time>
        </div>
        <div class="markdown">
            {body}
        </div>
    </div>
</div>

