
<div class="file-comment event">
    <a href="#" class="user">
        <img src="{avatarUrl}&s=40" class="avatar" />
    </a>
     <a href="/{username}">{username}</a> 
    commented <span class="timeago">{created}</span> on <a href="{fullPath}#{lineLink}" data-naviagetetree="{path}#{lineLink}">{path}</a>
        
</div>

