@model GithubPullTracker.Models.SearchResults


@{
    ViewBag.Title = "Search";
    ViewBag.HideRepo = true;
}
<h1><a href="~/@Model.Owner">@Model.Owner</a> /<a href="~/@Model.Owner/@Model.RepoName">@Model.RepoName</a></h1>

@{Html.RenderPartial("_SearchResults", Model);}
