
@{
    ViewBag.Title = "Pull Tracker";
}
<div class="hero">
    <p>Start tracking your pull requests and see which files you've review and whats changed.</p>


    <a class="button" href="~/login">Sign in with github <i class="icon icon-mark-github"></i></a>

</div>