@model GithubPullTracker.Models.PullRequestView
@{ 
    

}
<style>

</style>
<div id="splitter">
    <div id="jstree_demo_div"></div>

    <div id="file_diff">
            
    </div>
</div>

@section scripts{
    <style id="mergeHeight">       
         .CodeMirror-merge {
            height:auto;
        }
    </style>
<script>
    $(function(){
        
        var width =  lscache.get('spliterWidth') || ($(window).width() * 0.8);
        $("#splitter").splitter({
            sizeRight: width
        });
    });
    $(function () {
        var data = @Html.Raw(Model.JsTreeData);
        var blankState = null;
        var pathPrefix = '@Url.Action("ViewPullRequest")';
        var idSeed = 0;
        function updateType(node){
            
            //due to the recursive nature this will always be the lowest item
            if(node.state.selected){
                blankState = node;
            }

            if(node.data.type == 'file'){
                var key = node.data.sha;
                node.id = "file_" + key;
                if(lscache.get(key)){
                    node.type = 'file_visited';
                }else{
                    node.type = 'file_new';
                }

            }else{
                node.type = 'folder';
                node.id = "folder_" + (++idSeed);
            }

            if(node.children && node.children.length > 0)
            {
                for(var i = 0; i<node.children.length; i++){
                    updateType(node.children[i]);
                }
            }
        }
        for(var i = 0; i<data.length; i++){
            updateType(data[i]);
        }
        //lets update types in data based on local file visited cache

        $('#jstree_demo_div').jstree({
            'core': {
                'data': data
            },
            "types" : {
                "folder" : {
                    "icon" : "glyphicon glyphicons-folder-open"
                },
                "file_new" : {
                    "icon" : "glyphicon glyphicons-unchecked file_new",
                    "a_attr" : { "class" : 'file_new' }
                },
                "file_visited" : {
                    "icon" : "glyphicon glyphicons-check"
                }
            },
            "plugins" : [ "types" ]
        }).on('changed.jstree', function(e, d){
            if(d.selected.length ){
                var node = d.instance.get_node(d.selected[0]);
                loadPage(node, true);              
                if(node.data.type=='file'){
                    d.instance.set_type(d.node, "file_visisted");
                }
            }
        });

        var currentNode = null;
        function loadPage(node, navigate)
        {
            //we are already on this node don't load it.
            if(currentNode !== null && node !== null && currentNode.id == node.id){
                return;
            }
            currentNode = node;
            if(node != null){
                var targetPath = pathPrefix + '/files/' + node.data.path;
                //we cache the page visit for 12 months so browse3r will attempt to remember visited sha's
                lscache.set(node.data.sha, true, 60 * 24 * 7 * 52);
                if(navigate){
                    if(window.location.pathname == targetPath ){
                        history.replaceState(node, null, targetPath);
                    }else
                    {
                        history.pushState(node, null, targetPath);
                    }
                }

                showFileDiff(node.data.path);

                console.log(targetPath);
            }else{
                //show homepage!!
                console.log(pathPrefix);
            }
        }
        
        function loadMimeRenderer(info, cb){

            if(!info.mime && info.mimes){
                info.mime= info.mimes[0];
            }

            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.async = true;
            script.onload = function(){
                // remote script has loaded
                info.loaded = true;
                cb(info);
            };
            script.src = '/scripts/mode/'+info.mode + '/'+info.mode + '.js';
            document.getElementsByTagName('head')[0].appendChild(script)
        }
        function getMimeSettings(filename, cb){

            var r= filename.lastIndexOf('.');
            if(r > -1){
                var ext = filename.substr(r+1, filename.length - r).toLowerCase();
                  for(var i in CodeMirror.modeInfo){
                      var info = CodeMirror.modeInfo[i];
                      if(info.ext){
                          if(info.ext.indexOf(ext) > -1){
                            

                              if(info.loaded){
                                  cb(info);
                                  return;
                              }else{
                                  loadMimeRenderer(info, cb);
                                  return;
                              }
                          }
                    }                
                }
            }
            cb({ mime:null});
            return;
        }

        var diffElm = null;
        $(document).bind('keydown', 'j', function(){
            if(diffElm){
                diffElm.edit.execCommand("goNextDiff"); 
            }
        });
        
        $(document).bind('keydown', 'k', function(){
            if(diffElm){
                diffElm.edit.execCommand("goPrevDiff"); 
            }
        });
       
        function showFileDiff(path){
            
            var targetPath = pathPrefix + '/files/' + path;
            
            
            $.get(targetPath, function(data){
                getMimeSettings(path, function(info){
                    var elm = $('#file_diff');
                    elm.html("");//clear the dom
                    var winh =  $(window).height();
                    $('#splitter').height(winh ).trigger("resize");
                    $('#mergeHeight').html(".CodeMirror-merge, .CodeMirror-merge .CodeMirror { height: "+winh+"px;}")
                    
                    //diffElm = $("<div />");
                    //parent.append(diffElm );
                    diffElm = CodeMirror.MergeView(elm[0], {
                        origLeft :  data.source,
                        value : data.target,
                        lineNumbers: true,
                        mode: info.mime, 
                        connect :null,
                        readOnly: 'nocursor',
                        allowEditingOriginals : false,
                        collapseIdentical : false,
                        revertButtons : false,
                        gutters : ["CodeMirror-linenumbers", "github-comments"]
                    });
                    var doc = diffElm.edit.getDoc();
                    var lineCount = doc.lineCount();
                    for(var i = 0; i<=lineCount; i++){
                        diffElm.edit.setGutterMarker(i, "github-comments", $('<span class="addcomment" />')[0]);
                    }

                    //diffElm .mergely({
                    //    cmsettings :{ },
                    //    ignorews:false,
                    //    autoupdate:true,
                    //    autoresize:true,
                    //    fadein:false
                    //}); 
                    ////$("#splitter").splitter();
                    //diffElm.mergely('lhs', data.source);
                    //diffElm.mergely('rhs', data.target);
                    //setTimeout(function(){
                    //    diffElm.mergely('resize');
                    //    diffElm.mergely('scrollToDiff', 'next');
                    //},100);
                });
            });

        }
        
        //diffElm .mergely({
        //    ignorews:false,
        //    autoupdate:true,
        //    autoresize:true,
        //    fadein:false
        //});        
        var to;
        $("#splitter").on("resize", function(){
            clearTimeout(to);
            to = setTimeout(function(){
                var width = $(window).width() - $('#jstree_demo_div').width(); 
                lscache.set('spliterWidth', width);
                if(diffElm){
                    diffElm.edit.refresh();
                    diffElm.left.orig.refresh();
                }
            },100);
           
        });
        var to1;
        $(window).resize(function(e){
            //diffElm .mergely('resize');    
            if(e.target === window){
                clearTimeout(to1);
                to1 = setTimeout(function(){
                    var winh =  $(window).height();
                    $('#splitter').height(winh ).trigger("resize");
                    $('#mergeHeight').html(".CodeMirror-merge, .CodeMirror-merge .CodeMirror { height: "+winh+"px;}")
                    //$('#file_diff .CodeMirror-merge').height(winh );

                });
            }
        }).resize();
        
        window.onpopstate = function(s)
        {
            var currentStateNode = s.state;

            var jstree = $('#jstree_demo_div').jstree(true);
            jstree.deselect_all();
            if(currentStateNode){
                jstree.select_node(currentStateNode, true);
            }
            loadPage(currentStateNode, false);
        }

            if(blankState !=null){
                history.replaceState(blankState, null, pathPrefix + '/files/' + blankState.data.path);
            }else{
                history.replaceState(null, null, pathPrefix);
            }
            loadPage(blankState, false);
    });

</script>
    }