

    <div class="comment">
        <div class="header">
            <a href="{user.html_url}" target="_blank">
                <img src="{user.avatar_url}&s=40" class="avatar" />
                </a>
                <a href="{user.html_url}" target="_blank">{user.login}</a> commented <time class="timeago" datetime="{created_at}">{created_at}</time>
</div>
        <div class="markdown">
            {body_html}
            </div>
        </div>
