

<div class="file-comment-list event status-{change}">
    <div class="file-diff comment">
        <div class='header'>
            {path}
            
            <a href="{fullPath}#{lineLink}" data-naviagetetree="{path}#{lineLink}">View full file</a>
        </div>
        {patch}

    </div>
</div>

