@model RepoSettingsViewModel

@{
    ViewBag.Title = "Settings";
}

<h2>Settings</h2>

<p>This repo is @(Model.Enabled?"enabled":"disabled")</p>

@if (Model.CanConfigure)
{
    <form action="@Url.Action("Configure")" method="post">
        <input type="hidden" name="enabled" value="@((!Model.Enabled).ToString())" />
        @if (Model.Enabled)
        {
        <button type="submit">Disable</button>
        }
        else
        { <button type="submit">Enable</button>}
    </form>
}
else
{
    <p>can canfigure reason to be here</p>
}