@model TimelineEventOther
    @{
        string message = Model.Item.EventType;
        //switch (Model.Item.EventType)
        //{
        //    case "locked":
        //        message = "locked and limited conversation to collaborators";
        //        break;
        //    case "closed":
        //        message = "closed this";
        //        break;
        //    default:
        //        break;
        //}

     }


<div class="event">
    <i class="icon icon-chevron-right"></i> <a href="@Model.CreatedBy.html_url" target="_blank" class="user">@Model.CreatedBy.login</a> @message <time class="timeago" datetime="@Model.CreatedAt.ToString("o")">@Model.CreatedAt.ToString()</time>
</div>